@model ReviewsSite.Models.Album
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Album Reviews</title>
</head>
<body>
    <h1>@Model.Name Reviews</h1>

    @foreach (var review in Model.Reviews)
    {
    <p>Name: @review.ReviewerName</p>
    <p>@review.Content</p>
    <p>Date: @review.ReviewDate</p>
    <p>Rating: @review.Rating out of 5</p>
    }
</body>
</html>
