@model ReviewsSite.Models.Review
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>Delete</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Delete Review</h2>
            <hr />
            <div class="delete-info">
                <p class="col-sm-2">
                    <strong>@Html.DisplayNameFor(model => model.ReviewerName)</strong>: @Html.DisplayFor(model => model.ReviewerName)
                </p>
                <p class="col-sm-2">
                    <strong>@Html.DisplayNameFor(model => model.Content)</strong>: @Html.DisplayFor(model => model.Content)
                </p>
                <p class="col-sm-2">
                    <strong>@Html.DisplayNameFor(model => model.Rating)</strong>: @Html.DisplayFor(model => model.Rating) out of 5
                </p>
                <p class="col-sm-2">
                    <strong>@Html.DisplayNameFor(model => model.Album)</strong>: @Html.DisplayFor(model => model.Album.Name)
                </p>
                <p class="col-sm-2">
                    <strong>@Html.DisplayNameFor(model => model.ReviewDate)</strong>: @Html.DisplayFor(model => model.ReviewDate)
                </p>
            </div>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="button-group">
                        <a asp-action="Index"><input class="button" type="submit" value="Delete" /></a>
                    </div>
                    <div class="nav-links">
                        <a class="nav-link link" href="/Album/Reviews/@Model.AlbumId">Back to Reviews</a>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>
